# Log files
*.tlog
*.log

# User files
*.suo
*.user
*.db
*.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.idb
*.ilk
*.exe
*/tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
/packages
/Debug
/Release
.vs/

